<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.dynamongamer.royalvoid.preview">
 <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="28" />
 <uses-permission android:name="android.permission.INTERNET" />
 <application android:label="Royal Void Preview" android:theme="@android:style/Theme.DeviceDefault.NoActionBar" android:allowBackup="false" android:supportsRtl="true">
  <activity android:name="com.dynamongamer.preview.MainActivity" android:exported="true" android:configChanges="orientation|screenSize|keyboardHidden" android:windowSoftInputMode="adjustResize">
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
  </activity>
 </application>
</manifest>
